/* Styles go here */
body {
    background-color: white;
    color: black;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

footer {
    background-color: gray;
    text-align: center;
}

header {
    background-color: gray;
    }