/* Styles go here */
body {
    background-color: white;
    color: black;
	margin-top: 60px;
	margin-bottom: 60px;
}

header {
    color: #39FF14;
    text-align: center;
	background-color: gray;
	color: black;
	font-size: 30px;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

footer {
	text-align: center;
	background-color: gray;
}

menu {
	text-align: left;
}