.menu {
    background-color: darkgrey;
    color: gray;
}

.header {
    background-color: aqua;
    color: white
}

.aboutme {
    text-align: center;
    display: block;
    left: auto;
    right: auto;
}